@model IEnumerable<Student>

<!DOCTYPE html>
<html>
<head>
    <title>Studnet Page</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>ClassName</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Model)
            {
                <tr>
                    <td>
                        @student.Id
                    </td>
                    <td>
                        @student.Name
                    </td>            
                    <td>
                        @student.ClassName
                    </td>    
                </tr>
            }
        </tbody>
    </table>
</body>
</html>